* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header{
  padding: 30px;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content:space-between;
}
.header div {
  display: flex;
  gap: 30px;

}

.loginInput {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 100px;
}
.inputField {
  min-width: 13rem;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
}
.loginInput button {
  min-height: 50px;
  min-width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border-color: transparent;
}