* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
}
body{
  background: white;

}

.header{
  padding: 30px;
  display: flex;
  background-color: white;
  color: black;
  align-items: center;
  justify-content:space-between;
}
.header div {
  display: flex;
  gap: 30px;

}

.loginInput {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 100px;
  color: black;
}
.inputField {
  min-width: 20rem;
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.searchBar {
  min-width: 30rem;
  padding: 15px;
  margin: 10px 0px ;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right-color: transparent;
}
.inputBtn, .createBtn {
  min-height: 40px;
  min-width: 130px;
  display: block;
  margin: 5px auto;
  padding: 10px;
  border-radius: 40px;
  border-color: gray;
  background-color: white;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.inputBtn:hover, .createBtn:hover, .checkedInput:hover{
  background-color: black;
  color: white;
  font-weight: bolder;
  border-top: none;
  border-bottom: none;
  letter-spacing: 2px;
  transform: scale(1.10);
  transition: 0.55s;
  box-shadow: inset 200px 0 0 0 black;
  border-radius: 40px;
}
.navLinks {
  text-decoration: none;
  color: black;
  margin: 0px 30px;
}
.navLinks:hover {
  color: rgb(124, 114, 114);
}
.activeNavLinks {
  color: black;
  padding: 2.5px;
  background-color: grey;
  border-radius: 5px;
}
.postHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 2px;
  color: black;
}

.postContainer {
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  margin-left: 40px;
}
.postDetails {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 20px;
  padding: 30px;
  min-height: 500px;
  border: 1px solid black;
  border-radius: 60px;
  background-color: white;
  cursor: pointer;
  opacity: 0.8;
}
.postDetails p,h4 {
  color: black;
}
.postDetails h2 {
  color: black;
  text-decoration: underline;
}
.postDetails:hover {
  color: rgb(255, 1, 1);
  box-shadow: 1px 1px 10px;
  transform: scale(1.03);
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
  opacity: 1;
}

.postSearchBar {
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

.searchBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  display:inline-flex;
  gap: 20px;
  background-color: white;
  padding: 15px;
  position: relative;
  top: 6px;
  color: black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* border-left-color: transparent; */
}
.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  
}
.addInput {
  padding: 30px;
  margin: 10px;
  width: 26rem;
  border-radius: 15px;
  font-size: 15px;
}
.addForm h1 {
  font-size: 20px;
  margin: 10px;
  letter-spacing: 2px;
}
.checkedInput {
  color: blue;
  width: 50px;
  height: 50px;
}

.optionLabel{
  font-size: 20px
}

.profileNav{
  list-style: none;
  margin-right: 5rem;
}

.logInLogOutBtn {
  border-color: transparent;
  background-color: transparent;
}
.btn-danger{
  color: white;
  background-color: black;
  border-radius: 20px;
  margin-bottom: 10px;
}
.delete-edit-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}